<p-toast></p-toast>
<div class="card">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="name">{{'recipe.form.name' | translate}}</label>
        <input id="name" type="text" formControlName="name" pInputText>
      </div>
      <div class="p-field p-col-12">
        <label>{{'recipe.form.description' | translate}}</label>
        <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
      </div>
      <ng-container formGroupName="recipeDetails">
        <div class="p-field p-col-12 p-md-6">
          <label>{{'recipe.form.recipeDetails.difficulty.label' | translate}}</label>
          <p-dropdown [options]="difficulties" formControlName="difficulty" optionLabel="name" optionValue="key"></p-dropdown>
        </div> <div class="p-field p-col-12 p-md-6">
          <label for="prepTime">{{'recipe.form.recipeDetails.prepTime' | translate}}</label>
          <p-calendar formControlName="prepTime" [timeOnly]="true" hourFormat="24" inputId="prepTime"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="cookTime">{{'recipe.form.recipeDetails.cookTime' | translate}}</label>
          <p-calendar formControlName="cookTime" [timeOnly]="true" hourFormat="24" inputId="cookTime"></p-calendar>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label for="restTime">{{'recipe.form.recipeDetails.restTime' | translate}}</label>
          <p-calendar formControlName="restTime" [timeOnly]="true" hourFormat="24" inputId="restTime"></p-calendar>
        </div>
      </ng-container>
    </div>
    <p-button type="submit" label="Créer recette"></p-button>
  </form>
</div>
