<div class="container-center">
  <p-card [header]="'login.title' | translate" class="text-center">
    <div class="block mb-3">
      <p-button (click)="loginGoogle()" [label]="'login.google' | translate" icon="fab fa-google"></p-button>
    </div>
    <div class="block mb-3">
      <p-button routerLink="/email-login" [label]="'login.email' | translate" icon="far fa-envelope"></p-button>
    </div>
    <div class="text-center">
      <a routerLink="/signup" routerLinkActive="active">{{'login.no_account' | translate}} <strong>{{'login.signup' | translate}}</strong></a>
    </div>
  </p-card>
</div>
