<header class="grid">
  <div class="col">
    <p (click)="routeToHome()">LOGO</p>
  </div>
  <div class="col">
    <p-button label="Click" (onClick)="routeToRecipeForm()"></p-button>
  </div>
  <div class="col header-menu">
    <button #btn type="button" pButton icon="fas fa-user-circle" (click)="menu.toggle($event)"></button>
  </div>
</header>
<p-slideMenu #menu [model]="menuItems" [backLabel]="'toolbar.back' | translate" [popup]="true" [viewportHeight]="150"></p-slideMenu>
