header .header-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
p-slideMenu {
  ::ng-deep .p-slidemenu-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  ::ng-deep .p-menuitem-link .p-menuitem-icon.fas.fa-check {
    color: green;
  }
}


