<p-orderList [value]="recipes" header="List of Products" filterBy="name" filterPlaceholder="Filter by name">
  <ng-template let-recipe pTemplate="item">
    <div class="product-item" (click)="showRecipeDetails(recipe.id)">
      <div class="image-container">
<!--        <img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" />-->
      </div>
      <div class="product-list-detail">
        <h5 class="p-mb-2">{{recipe.name}}</h5>
      </div>
      <div class="p-d-flex p-ai-center">
        <p-chip  label="{{recipe.creationDate.seconds * 1000 | date: 'dd-MM-yyyy h:mm:ss'}}" icon="far fa-clock" styleClass="p-mr-2"></p-chip>
        <p-chip label="{{recipe.creator}}" icon="far fa-user" styleClass="p-mr-2"></p-chip>
      </div>
    </div>
  </ng-template>
</p-orderList>
