<div class="container-center">
  <p-card [header]="'login.title' | translate" class="text-center">
    <form #formData='ngForm' (ngSubmit)='onSubmit(formData)'>
      <div class="p-col-12 mb-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="far fa-user"></i></span>
          <input type="email" pInputText [placeholder]="'login.email' | translate" [(ngModel)]="loginData.email" name="email" class="input-txt" required>
        </div>
      </div>
      <div class="p-col-12 mb-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="fas fa-key"></i></span>
          <input pPassword type="password" [placeholder]="'login.password' | translate" [(ngModel)]="loginData.password" name="password" required>
        </div>
      </div>
      <div class="p-col-12 mb-4">
        <p-button type="submit" [disabled]="!formData.valid" [label]="'login.title' | translate"></p-button>
      </div>
    </form>
    <div class="p-col-12 mb-4">
      <div class="text-center">
        <a routerLink="/signup" routerLinkActive="active">{{'login.no_account' | translate}} <strong>{{'login.signup' | translate}}</strong></a>
      </div>
    </div>
  </p-card>
</div>
